<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="assets/styles/salesforce-lightning-design-system.css" rel="stylesheet" type="text/css">
	<link href="assets/styles/custom-styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="slds-box">
<div class="slds-grid slds-wrap slds-large-nowrap">
	<div class="slds-col slds-col--rule-right slds-size--1-of-1 slds-large-size--5-of-6 slds-large-order--1">
	<section class="slds-m-bottom--xx-large slds-p-top--x-large">
	<div class="slds-page-header">
		<div class="slds-grid">
			<div class="slds-col slds-has-flexi-truncate">
				<div class="slds-media slds-no-space slds-grow">
					<div class="slds-media__figure">
						<svg class="slds-icon slds-icon-standard-user" aria-hidden="true">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/standard-sprite/svg/symbols.svg#user"></use>
						</svg>
					</div>
					<div class="slds-media__body">
						<p class="slds-text-title--caps slds-line-height--reset">Accounts</p>
						<h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">Test Account</h1>
					</div>
				</div>
			</div>
		</div>
		<ul class="slds-grid slds-page-header__detail-row" role="list" style="opacity: 1;">
			<li class="slds-page-header__detail-block" role="listitem" style="max-width: 55.6875px;">
				<p class="slds-text-heading--label-normal slds-m-bottom--xx-small slds-truncate" title="Title">Title<!--render facet: 27:2369;a--></p>
				<p class="slds-text-body--regular  slds-truncate">
					<span class="uiOutputText"></span>
				</p>
			</li>
			<li class="slds-page-header__detail-block" role="listitem" style="max-width: 146.969px;">
				<p class="slds-text-heading--label-normal slds-m-bottom--xx-small slds-truncate" title="Account Name">Account Name<!--render facet: 59:2369;a--></p>
				<p class="slds-text-body--regular  slds-truncate">
				<div class="outputLookupContainer forceOutputLookupWithPreview">
				<span class="photoContainer forceSocialPhoto forceOutputLookup">

				</span>
				<a class=" textUnderline outputLookupLink slds-truncate forceOutputLookup" title="">logicline<!--render facet: 48:2369;a--></a></div></p>
			</li>
			<li class="slds-page-header__detail-block forcePopover" style="max-width: 133.469px;"><div class="uiMenu"><div id="119:2369;a" class="uiPopupTrigger"><div><div><a aria-disabled="false" aria-haspopup="true" tabindex="0" title="" href="javascript:void(0);">
			<li class="slds-page-header__detail-block" role="listitem">
			<p class="slds-text-heading--label-normal slds-m-bottom--xx-small slds-truncate" title="Phone">Phone
			<span class="groupedFieldCount">(2)
            	<span class="slds-icon_container slds-icon-utility-down downIcon slds-button__icon forceIcon">
			  		<span>
						<svg class="slds-icon--xx-small slds-icon" focusable="false" data-key="down">
			  				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/slds-icons/v7.6.0/utility-sprite/svg/symbols.svg#down"></use>
						</svg>
					</span><!--render facet: 86:2369;a-->
				</span>
			</span>
			</p>
			<p class="slds-text-body--regular  slds-truncate">
				<span dir="ltr" class="uiOutputPhone"></span>
			</p>
			</li>
		</ul>
	</div>
	</section>

	<div class="slds-tabs--default">
		<ul class="slds-tabs--default__nav" role="tablist">
			<li class="slds-tabs--default__item slds-active" title="Item One" role="presentation"><a class="slds-tabs--default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item">Related</a></li>
			<li class="slds-tabs--default__item" title="Item Two" role="presentation"><a class="slds-tabs--default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">Details</a></li>
		</ul>
		<div id="tab-default-1" class="slds-tabs--default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">
			<article class="slds-card">
				<div class="slds-card__header slds-grid">
					<header class="slds-media slds-media--center slds-has-flexi-truncate">
						<div class="slds-media__figure">
        <span class="slds-icon_container slds-icon-standard-contact" title="description of icon when needed">
          <svg class="slds-icon slds-icon--small" aria-hidden="true">
			  <use xlink:href="assets/icons/standard-sprite/svg/symbols.svg#contact"></use>
		  </svg>
        </span>
						</div>
						<div class="slds-media__body">
							<h2>
								<a href="javascript:void(0);" class="slds-card__header-link slds-truncate">
									<span class="slds-text-heading--small">Contacts (3)</span>
								</a>
							</h2>
						</div>
					</header>
					<div class="slds-no-flex">
						<button class="slds-button slds-button--neutral">New</button>
					</div>
				</div>
				<div class="slds-card__body">
					<div class="slds-card__body--inner slds-grid slds-wrap slds-grid--pull-padded">
						<div class="slds-tile slds-media slds-card__tile slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-3 slds-hint-parent">
							<div class="slds-media__figure">
								<div class="slds-icon_container slds-icon-standard-contact" title="if needed">
									<svg class="slds-icon slds-icon--small" aria-hidden="true">
										<use xlink:href="assets/icons/standard-sprite/svg/symbols.svg#contact"></use>
									</svg>
									<span class="slds-assistive-text">Contact</span>
								</div>
							</div>
							<div class="slds-media__body">
								<div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
									<h3 class="slds-truncate" title="Related Record Title 1"><a href="javascript:void(0);">Related Record Title 1</a></h3>
									<div class="slds-shrink-none">
										<button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small" aria-haspopup="true" title="More options">
											<svg class="slds-button__icon slds-button__icon--hint" aria-hidden="true">
												<use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#down"></use>
											</svg>
											<span class="slds-assistive-text">More options</span>
										</button>
									</div>
								</div>
								<div class="slds-tile__detail slds-text-body--small">
									<dl class="slds-list--horizontal slds-wrap">
										<dt class="slds-item--label slds-text-color--weak slds-truncate" title="First Label">First Label:</dt>
										<dd class="slds-item--detail slds-truncate">Description for first label</dd>
										<dt class="slds-item--label slds-text-color--weak slds-truncate" title="Second Label">Second Label:</dt>
										<dd class="slds-item--detail slds-truncate">Description for second label</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="slds-tile slds-media slds-card__tile slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-3 slds-hint-parent">
							<div class="slds-media__figure">
								<div class="slds-icon_container slds-icon-standard-contact" title="if needed">
									<svg class="slds-icon slds-icon--small" aria-hidden="true">
										<use xlink:href="assets/icons/standard-sprite/svg/symbols.svg#contact"></use>
									</svg>
									<span class="slds-assistive-text">Contact</span>
								</div>
							</div>
							<div class="slds-media__body">
								<div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
									<h3 class="slds-truncate" title="Related Record Title 1"><a href="javascript:void(0);">Related Record Title 1</a></h3>
									<div class="slds-shrink-none">
										<button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small" aria-haspopup="true" title="More options">
											<svg class="slds-button__icon slds-button__icon--hint" aria-hidden="true">
												<use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#down"></use>
											</svg>
											<span class="slds-assistive-text">More options</span>
										</button>
									</div>
								</div>
								<div class="slds-tile__detail slds-text-body--small">
									<dl class="slds-list--horizontal slds-wrap">
										<dt class="slds-item--label slds-text-color--weak slds-truncate" title="First Label">First Label:</dt>
										<dd class="slds-item--detail slds-truncate">Description for first label</dd>
										<dt class="slds-item--label slds-text-color--weak slds-truncate" title="Second Label">Second Label:</dt>
										<dd class="slds-item--detail slds-truncate">Description for second label</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="slds-tile slds-media slds-card__tile slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-3 slds-hint-parent">
							<div class="slds-media__figure">
								<div class="slds-icon_container slds-icon-standard-contact" title="if needed">
									<svg class="slds-icon slds-icon--small" aria-hidden="true">
										<use xlink:href="assets/icons/standard-sprite/svg/symbols.svg#contact"></use>
									</svg>
									<span class="slds-assistive-text">Contact</span>
								</div>
							</div>
							<div class="slds-media__body">
								<div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
									<h3 class="slds-truncate" title="Related Record Title 1"><a href="javascript:void(0);">Related Record Title 1</a></h3>
									<div class="slds-shrink-none">
										<button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small" aria-haspopup="true" title="More options">
											<svg class="slds-button__icon slds-button__icon--hint" aria-hidden="true">
												<use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#down"></use>
											</svg>
											<span class="slds-assistive-text">More options</span>
										</button>
									</div>
								</div>
								<div class="slds-tile__detail slds-text-body--small">
									<dl class="slds-list--horizontal slds-wrap">
										<dt class="slds-item--label slds-text-color--weak slds-truncate" title="First Label">First Label:</dt>
										<dd class="slds-item--detail slds-truncate">Description for first label</dd>
										<dt class="slds-item--label slds-text-color--weak slds-truncate" title="Second Label">Second Label:</dt>
										<dd class="slds-item--detail slds-truncate">Description for second label</dd>
									</dl>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slds-card__footer"><a href="javascript:void(0);">View All <span class="slds-assistive-text">entity type</span></a></div>
			</article>
			<article class="slds-card">
				<div class="slds-card__header slds-grid">
					<header class="slds-media slds-media--center slds-has-flexi-truncate">
						<div class="slds-media__figure">
        				<span class="slds-icon_container slds-icon-standard-contact" title="description of icon when needed">
          					<svg class="slds-icon slds-icon--small" aria-hidden="true">
			  					<use xlink:href="assets/icons/standard-sprite/svg/symbols.svg#contact"></use>
							</svg>
        				</span>
						</div>
						<div class="slds-media__body">
							<h2>
								<a href="javascript:void(0);" class="slds-card__header-link slds-truncate">
									<span class="slds-text-heading--small">Opportunities (2)</span>
								</a>
							</h2>
						</div>
					</header>
					<div class="slds-no-flex">
						<button class="slds-button slds-button--neutral">New</button>
					</div>
				</div>
				<div class="slds-card__body">
					<div class="slds-card__body--inner slds-grid slds-wrap slds-grid--pull-padded">
						<div class="slds-tile slds-media slds-card__tile slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-3 slds-hint-parent">
							<div class="slds-media__figure">
								<div class="slds-icon_container slds-icon-standard-contact" title="if needed">
									<svg class="slds-icon slds-icon--small" aria-hidden="true">
										<use xlink:href="assets/icons/standard-sprite/svg/symbols.svg#contact"></use>
									</svg>
									<span class="slds-assistive-text">Contact</span>
								</div>
							</div>
							<div class="slds-media__body">
								<div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
									<h3 class="slds-truncate" title="Related Record Title 1"><a href="javascript:void(0);">Related Record Title 1</a></h3>
									<div class="slds-shrink-none">
										<button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small" aria-haspopup="true" title="More options">
											<svg class="slds-button__icon slds-button__icon--hint" aria-hidden="true">
												<use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#down"></use>
											</svg>
											<span class="slds-assistive-text">More options</span>
										</button>
									</div>
								</div>
								<div class="slds-tile__detail slds-text-body--small">
									<dl class="slds-list--horizontal slds-wrap">
										<dt class="slds-item--label slds-text-color--weak slds-truncate" title="First Label">First Label:</dt>
										<dd class="slds-item--detail slds-truncate">Description for first label</dd>
										<dt class="slds-item--label slds-text-color--weak slds-truncate" title="Second Label">Second Label:</dt>
										<dd class="slds-item--detail slds-truncate">Description for second label</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="slds-tile slds-media slds-card__tile slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-3 slds-hint-parent">
							<div class="slds-media__figure">
								<div class="slds-icon_container slds-icon-standard-contact" title="if needed">
									<svg class="slds-icon slds-icon--small" aria-hidden="true">
										<use xlink:href="assets/icons/standard-sprite/svg/symbols.svg#contact"></use>
									</svg>
									<span class="slds-assistive-text">Contact</span>
								</div>
							</div>
							<div class="slds-media__body">
								<div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
									<h3 class="slds-truncate" title="Related Record Title 1"><a href="javascript:void(0);">Related Record Title 1</a></h3>
									<div class="slds-shrink-none">
										<button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small" aria-haspopup="true" title="More options">
											<svg class="slds-button__icon slds-button__icon--hint" aria-hidden="true">
												<use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#down"></use>
											</svg>
											<span class="slds-assistive-text">More options</span>
										</button>
									</div>
								</div>
								<div class="slds-tile__detail slds-text-body--small">
									<dl class="slds-list--horizontal slds-wrap">
										<dt class="slds-item--label slds-text-color--weak slds-truncate" title="First Label">First Label:</dt>
										<dd class="slds-item--detail slds-truncate">Description for first label</dd>
										<dt class="slds-item--label slds-text-color--weak slds-truncate" title="Second Label">Second Label:</dt>
										<dd class="slds-item--detail slds-truncate">Description for second label</dd>
									</dl>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slds-card__footer"><a href="javascript:void(0);">View All <span class="slds-assistive-text">entity type</span></a></div>
			</article>
		</div>
		<div id="tab-default-2" class="slds-tabs--default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-2__item">
			Details
		</div>
	</div>
	<section class="slds-m-bottom--xx-large slds-p-top--x-large">
		<div class="slds-panel__section">
			<h3 class="slds-text-heading--small slds-m-bottom--medium">Uniserv address check</h3>
			<div class="slds-form-element slds-hint-parent slds-has-divider--bottom">
				<table class="slds-table slds-table--bordered slds-table--cell-buffer">
					<thead>
					<tr class="slds-text-title--caps">
						<th style="width:3.25rem;">#</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Address</th>
						<th>Action</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>1</td>
						<td>Mark</td>
						<td>Otto</td>
						<td>Street, City</td>
						<td>
							<button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
  								<span class="slds-text-not-selected">
    								<svg class="slds-button__icon--stateful slds-button__icon--left" aria-hidden="true">
										<use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#check"></use>
									</svg>Click me
								</span>
							</button>
						</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>Street, City</td>
						<td>
							<button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
  								<span class="slds-text-not-selected">
    								<svg class="slds-button__icon--stateful slds-button__icon--left" aria-hidden="true">
										<use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#check"></use>
									</svg>Click me
								</span>
							</button>
						</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Larry</td>
						<td>the Bird</td>
						<td>Street, City</td>
						<td>
							<button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
  								<span class="slds-text-not-selected">
    								<svg class="slds-button__icon--stateful slds-button__icon--left" aria-hidden="true">
										<use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#check"></use>
									</svg>Click me
								</span>
							</button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</div>
</div>
</div>
</body>
</html>