.container {
  width: 100%;
}

.slds-popover--tooltip-red {
  background: #c23934
}

.slds-popover--tooltip-yellow {
  background: #eeb743;
}

.slds-popover--tooltip-green {
  background: #39c23e;
}

.slds-button__icon-error {
  width: 1.875rem;
  height: 1.875rem;
  fill: #c23934;
}

.slds-button__icon-warning {
  width: 1.875rem;
  height: 1.875rem;
  fill: #eeb743;
}

.slds-button__icon-success {
  width: 1.875rem;
  height: 1.875rem;
  fill: #39c23e;
}